modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-mail:1.0.0", "github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 5000

[[ports]]
localPort = 8084
externalPort = 5173

[[ports]]
localPort = 9999
externalPort = 3001

[[ports]]
localPort = 19879
externalPort = 3000

[[ports]]
localPort = 21588
externalPort = 8000

[[ports]]
localPort = 24917
externalPort = 4200

[[ports]]
localPort = 25112
externalPort = 3003

[[ports]]
localPort = 25761
externalPort = 6000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
WINGWOMAN_WHATSAPP_NUMBER = "+27716845443"
TWILIO_WHATSAPP_NUMBER = "whatsapp:+14155238886"
MEMBER_WA_NUMBER = "27825611065"

[userenv.development]
FACEBOOK_PAGE_ID = "702172440242622"
OPERATOR_MIRROR_MODE = "all"
OPERATOR_WHATSAPP_NUMBER = "whatsapp:+27825611065"
FACEBOOK_VERIFY_TOKEN = "ebw-cyber-chaperone-fb-2026"

[userenv.production]
FACEBOOK_PAGE_ID = "702172440242622"
OPERATOR_MIRROR_MODE = "all"
OPERATOR_WHATSAPP_NUMBER = "whatsapp:+27825611065"
FACEBOOK_VERIFY_TOKEN = "ebw-cyber-chaperone-fb-2026"
